<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428230669903-unc1i5qoc5rinofsismq70ljv83va5ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428230669903-unc1i5qoc5rinofsismq70ljv83va5ou</string>
	<key>API_KEY</key>
	<string>AIzaSyBnswHY8UNn6m4xzZ_mhPqJQeHau39zAXg</string>
	<key>GCM_SENDER_ID</key>
	<string>428230669903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vickyliu.UChef</string>
	<key>PROJECT_ID</key>
	<string>uchef-fd5fe</string>
	<key>STORAGE_BUCKET</key>
	<string>uchef-fd5fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428230669903:ios:969b37e48a48d58e345c3a</string>
	<key>DATABASE_URL</key>
	<string>https://uchef-fd5fe.firebaseio.com</string>
</dict>
</plist>